@model AccountDetailsViewModel
@{
    ViewData["Title"] = "Account Details";
}

<section class="account-details">
    <div class="container">
        
        <aside>
            <partial name="~/Views/Account/_AccountProfile.cshtml" />
        </aside>

        <div class="content">
            @if (!string.IsNullOrEmpty(TempData["StatusMessage"]?.ToString()))
            {
                <div class="alert alert-danger">
                    @TempData["StatusMessage"]
                </div>
            }
            <form class="form-basic" method="post" asp-action="UpdateBasicInfo" asp-controller="Account">
                <h5>Basic Info</h5>
                <div class="form-content">
                    <div id="form-firstname" class="input-group">
                        <label asp-for="BasicInfo!.FirstName"></label>
                        <input asp-for="BasicInfo!.FirstName" />
                        <span asp-validation-for="BasicInfo!.FirstName"></span>
                    </div>
                    <div id="form-lastname" class="input-group">
                        <label asp-for="BasicInfo!.LastName"></label>
                        <input asp-for="BasicInfo!.LastName" />
                        <span asp-validation-for="BasicInfo!.LastName"></span>
                    </div>
                    <div id="form-email" class="input-group">
                        <label asp-for="BasicInfo!.Email"></label>
                        <input asp-for="BasicInfo!.Email" />
                        <span asp-validation-for="BasicInfo!.Email"></span>
                    </div>
                    <div id="form-phone">
                        <label asp-for="BasicInfo!.PhoneNumber"></label>
                        <input asp-for="BasicInfo!.PhoneNumber" />
                    </div>
                    <div id="form-bio">
                        <label asp-for="BasicInfo!.Bio"></label>
                        <textarea asp-for="BasicInfo!.Bio"></textarea>
                    </div>
                    <div class="form-button">
                        <button type="reset" class="btn btn-gray">Cancel</button>
                        <button type="submit" class="btn btn-theme"></i>Save changes</button>
                    </div>
                </div>
            </form>
            <form class="form-address" method="post" asp-action="UpdateAddressInfo" asp-controller="Account">
                <h5>Address Info</h5>
                <div class="form-content">
                    <div id="form-addressline-1" class="input-group">
                        <label asp-for="AddressInfo!.AddressLine_1"></label>
                        <input asp-for="AddressInfo!.AddressLine_1" />
                        <span asp-validation-for="AddressInfo!.AddressLine_1"></span>
                    </div>
                    <div id="form-addressline-2" class="input-group">
                        <label asp-for="AddressInfo!.AddressLine_2"></label>
                        <input asp-for="AddressInfo!.AddressLine_2" />
                        <span asp-validation-for="AddressInfo!.AddressLine_2"></span>
                    </div>
                    <div id="form-postalcode" class="input-group">
                        <label asp-for="AddressInfo!.PostalCode"></label>
                        <input asp-for="AddressInfo!.PostalCode" />
                        <span asp-validation-for="AddressInfo!.PostalCode"></span>
                    </div>
                    <div id="form-city" class="input-group">
                        <label asp-for="AddressInfo!.City"></label>
                        <input asp-for="AddressInfo!.City" />
                        <span asp-validation-for="AddressInfo!.City"></span>
                    </div>
                    <div class="form-button">
                        <button type="reset" class="btn btn-gray">Cancel</button>
                        <button type="submit" class="btn btn-theme"></i>Save changes</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</section>