@model SignInViewModel
@{
    ViewData["Title"] = "Sign In";
}

<section class="signin">
   <div class="container">

       <form method="post" asp-action="SignIn" asp-controller="Auth" asp-route-ReturnUrl="@ViewData["ReturnUrl"]" novalidate>
            @if (!string.IsNullOrEmpty(ViewData["StatusMessage"]?.ToString()))
            {
                <div class="alert alert-danger">
                    @ViewData["StatusMessage"]
                </div>
            }
           <h1>Welcome Back</h1>
           <p>Don't have an account yet? <a asp-action="SignUp" asp-controller="Auth">Sign up here</a></p>
            <div class="form-content">
                <div class="input-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email"/>
                </div>
                <div class="input-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password"/>
                </div>
                <div class="remember-group">
                    <input asp-for="RememberMe" id="remember-me-checkbox" />
                    <label asp-for="RememberMe" for="remember-me-checkbox" class="checkbox-label"></label>
                </div>
                <div class="button-size">
                    <button type="submit" class="btn-theme"><i class="fa-regular fa-arrow-left-to-bracket"></i>Sign In</button>
                </div>
                <div class="forgot-password">
                    <a asp-action="ForgotPassword" asp-controller="Auth">Forgot Password?</a>
                </div>
            </div>

       </form>
   </div>

</section>