@model FeaturesSectionViewModel

<div class="features-section">
    <div class="container">
        <h1>What Do You Get with Our Tool?</h1>
        <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="tool-features">
            @foreach (var item in Model.Items)
            {
                <partial name="~/Views/Default/Sections/Components/_FeatureBox.cshtml" model="item" />
            }
        </div>
    </div>
</div>
