@model IntegrateSectionViewModel

<section class="integrate-section">
    <div class="container">
        <div class="header-texts">
            <h1>Integrate Top Work Tools</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                volutpat mollis egestas. Nam luctus facilisis ultrices.
                Pellentesque volutpat ligula est. Mattis fermentum, at nec
                lacus.
            </p>
        </div>
        <div class="integrate-boxes">
            @foreach (var item in Model.Items)
            {
                <partial name="~/Views/Default/Sections/Components/_IntegrateBox.cshtml" model="item" />
            }
        </div>
    </div>
</section>